#Basic Data Types

1. Integer
2. Floating POint
3. Complex
4. Boolean
5. String

In [2]:
#Integer
a = 4
print(a)
type(a)

4

int

In [3]:
#Floating Point
f = 3.1453423
print(f)
type(f)

3.1453423

float

In [6]:
#Complex Numbers
c = 4 + 2j     # Always j is the imaginary varible and j square equals -1
print(c.real)
print(c.imag)
print(c)
type(c)

4.0
2.0
(4+2j)

complex

Conversion of one data type into another

In [11]:
# int to float
x = 10
print(x)
print(type(x))

x = float(x)
print(x)
print(type(x))

10
<class 'int'>
10.0
<class 'float'>

In [12]:
#float into int
x = 4.543
print(x)
print(type(x))

x = int(x)
print(x)
print(type(x))

4.543
<class 'float'>
4
<class 'int'>

In [13]:
# Boolean Data type - true / false

a = True
b = False
print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [14]:
a = 10 > 20
print(a)

False

In [15]:
#Strings

s = "Machine Learning"
print(s)
print(type(s))

Machine Learning
<class 'str'>

In [18]:
# Any quotes can be used but ensure that the opening qoute and the closing quote are always same

In [16]:
s = '''Machine Learning'''
print(s)
print(type(s))

Machine Learning
<class 'str'>

In [17]:
s = 'Machine Learning'
print(s)
print(type(s))

Machine Learning
<class 'str'>

#String Operations

1. String Slicing
2. String Concatenation

In [19]:
#Slicing of a strings

my_string = "Hello guys"
print(my_string[:5])  #Slicing => [start_value : end_value : step_value]

Hello

In [20]:
print(my_string[-1])  # Reverse Indexing

s

In [21]:
print(my_string[::2]) # Step value

Hlogy

In [22]:
#Concatenation of Strings

word1 = 'Machine '
word2 = "Learning "
word3 = '''Journey'''
print(word1+word2+word3) # Concatenation Operator (+)

Machine Learning Journey