#Operators

1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Assignment Operators
5. Identity Operators
6. Membership Operators

# Arithmetic Operators

In [9]:
# Arithmetic Operators

a = 13
b = 2
print("sum: ",a+b)
print("difference: ",a-b)
print("product: ",a*b)
print("division: " ,a/b)
print("quotient: ",a//b)
print("remainder: ",a%b)
print("Exponent: ", a ** b)

sum:  15
difference:  11
product:  26
division:  6.5
quotient:  6
remainder:  1
Exponent:  169

#Assignment Operators

In [10]:
# Assignment Operators

a = 5

a+=5
print(a)

a-=3
print(a)

a*=2
print(a)

a/=2
print(a)

10
7
14
7.0

#Relational operators

In [11]:
# Comparison / Relational Operators
# returns boolean value

a = 5
b = 10

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

#Logical Operators

In [12]:
# Logical Operators

#AND
a = 10
b = 5
print(a>b and a%2==0)

True

In [13]:
# OR

a = 10
b = 50
print(a>b or a%2==0)

True

In [14]:
a = 10
b = 5
print(not a>b)  # Inverts the value / result

False

#Identity Operator

In [15]:
# Identity Operator - is , is not

# is

x = 5
y = 5

print( x is y )

True

In [16]:
# is

x = 50
y = 5

print( x is y )

False

In [17]:
# is not

x = 5
y = 5

print( x is not y )

False

In [22]:
# is not

x = 5
y = 50

print( x is not y )

True

#Membership Operators

In [20]:
# Membership Operator - in , not in

a = 5

b = [1,2,3,4,5,6]
print(a in b)
print(a not in b)

True
False