#Objects in Python

1. Immutable Objects
2. Mutable Objects

Immutable Objects :

1. int
2. float
3. string
4. boolean
5. tuple

Mutable Objects:

1. list
2. set
3. dictionary

#Lists

In [6]:
# LISTS

# Lists should be enclosed with Squre Brackets
# Lists allows duplicate values

l = [1,5,3,5,2,5,6,3,2,6]
print(l)
print(type(l))

[1, 5, 3, 5, 2, 5, 6, 3, 2, 6]
<class 'list'>

In [10]:
# lists can have multiple data types

ls = [1,"string", 8.432,'f']
print(ls)

[1, 'string', 8.432, 'f']

Operations in Lists

In [11]:
# Add elements to a list


# lists are mutable (changeable)
l.append(12)
print(l)

[1, 5, 3, 5, 2, 5, 6, 3, 2, 6, 6, 6, 12]

In [12]:
# print elements of a list using their index value
print(l[3])
print(l[0])

5
1

In [13]:
# count the elements in a list
print(len(l))

13

In [19]:
# initialising an empty list

list_1 = []
list_1.append(input("Enter your name: "))
print(list_1)

Enter your name: Raj
['Raj']

In [20]:
# deleting an element in a list
print(l)
del l[0]
print(l)

[2, 5, 6, 3, 2, 6, 6, 6, 12]
[5, 6, 3, 2, 6, 6, 6, 12]

In [21]:
#join two list

list1 = [12,12,14,12,32]
list2 = [42,45,23,54]

print(list1 + list2)

[12, 12, 14, 12, 32, 42, 45, 23, 54]

# Tuples

In [24]:
# Tuples are enclosed by parantheses

tuple_1 = (1,2,"raj",4,5)
print(tuple_1)
print(type(tuple_1))

(1, 2, 'raj', 4, 5)
<class 'tuple'>

In [25]:
# Tuple allows values of multiple data tpes
# Tuples are immutable
# append() doesn't work in tuple
# length can be found

In [27]:
#converting list into tuple

list1 = [2,34,43,54]
print(list1)

tuple1 = tuple(list1)
print(tuple1)
type(tuple1)

[2, 34, 43, 54]
(2, 34, 43, 54)

tuple

# Sets

In [29]:
# sets should be contain only unique values
# No duplicate values are allowed
# sets are enclosed by curly braces

my_set = {3,5,2,5,6}  # duplicate 5 is removed from the set
print(my_set)
type(my_set)

{2, 3, 5, 6}

set

In [30]:
# set does not support indexing

print(my_set[0])  # throws an error

TypeError: 'set' object is not subscriptable

In [31]:
#convert list into set

list_1 = [1,2,3,5]
set_1 = set(list_1)   # set() is used for the conversion
print(set_1)

{1, 2, 3, 5}

# Dictionary

In [36]:
# It contains key-value pair

my_dict = {'name' : 'raj' , 'age': 18, 'country':'India' ,  'grade':'O'}
print(my_dict)
type(my_dict)

{'name': 'raj', 'age': 18, 'country': 'India', 'grade': 'O'}

dict

In [37]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['grade'])

raj
18
O

In [38]:
# NOTE : Dictionaries does not allow duplicate values

dict1 = {'name' : 'raj' , 'age': 18, 'country':'India' ,  'grade':'O','name' : 'raj' , 'age': 18, 'country':'India' ,  'grade':'O'}
print(dict1)

{'name': 'raj', 'age': 18, 'country': 'India', 'grade': 'O'}